<div class="container">
  <div class="col-12 col-md-8 col-lg-8 offset-md-2 mt-16">
  <div class="card p-2">
<h2>Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }, class:"form-control" %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }, class:"form-control my-8" %>
    <%= f.input :remember_me , inline_label: 'Yes, remember me', as: :boolean if devise_mapping.rememberable? %>


  <div class="form-actions">
    <%= f.button :submit, "CONNEXION", class:"btn btn-outline-success mt-1" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
  </div>
</div>
