<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/shared/css/layoutCss" %>
    <%= render "layouts/shared/css/styles_default" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
  <%= render "shared/nav/navbar" %>
    <%= yield %>
    <%= render "layouts/shared/js/layoutJs" %>
  </body>
</html>
